<a href="https://colab.research.google.com/github/adhang/learn-data-science/blob/main/Spaceship_Titanic_Data_Cleansing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Spaceship Titanic

Author: Adhang Muntaha Muhammad

[![LinkedIn](https://img.shields.io/badge/linkedin-0077B5?style=for-the-badge&logo=linkedin&logoColor=white&link=https://www.linkedin.com/in/adhangmuntaha/)](https://www.linkedin.com/in/adhangmuntaha/)
[![GitHub](https://img.shields.io/badge/github-121011?style=for-the-badge&logo=github&logoColor=white&link=https://github.com/adhang)](https://github.com/adhang)
[![Kaggle](https://img.shields.io/badge/kaggle-20BEFF?style=for-the-badge&logo=kaggle&logoColor=white&link=https://www.kaggle.com/adhang)](https://www.kaggle.com/adhang)
[![Tableau](https://img.shields.io/badge/tableau-E97627?style=for-the-badge&logo=tableau&logoColor=white&link=https://public.tableau.com/app/profile/adhang)](https://public.tableau.com/app/profile/adhang)
___

**Contents**
1. Introduction
2. Importing Libraries
3. Dataset Overview
4. Exploratory Data Analysis
5. Data Preprocessing
6. Model Development & Evaluation
7. Conclusion
8. Explainable AI
9. Reference and Further Reading

# 1. Introduction

**Features**
- `PassengerId` - A unique Id for each passenger. Each Id takes the form `gggg_pp` where `gggg` indicates a group the passenger is travelling with and `pp` is their number within the group. People in a group are often family members, but not always.
- `HomePlanet` - The planet the passenger departed from, typically their planet of permanent residence.
- `CryoSleep` - Indicates whether the passenger elected to be put into suspended animation for the duration of the voyage. Passengers in cryosleep are confined to their cabins.
- `Cabin` - The cabin number where the passenger is staying. Takes the form deck/num/side, where side can be either P for Port or S for Starboard.
- `Destination` - The planet the passenger will be debarking to.
- `Age` - The age of the passenger.
- `VIP` - Whether the passenger has paid for special VIP service during the voyage.
- `RoomService`, `FoodCourt`, `ShoppingMall`, `Spa`, `VRDeck` - Amount the passenger has billed at each of the Spaceship Titanic's many luxury amenities.
- `Name` - The first and last names of the passenger.
- `Transported` - Whether the passenger was transported to another dimension. This is the target, the column you are trying to predict.

# Importing Libraries

In [ ]:
!pip install datawig
!pip install inflection

In [1]:
import pandas as pd
import numpy as np

pd.set_option('display.precision', 3)

import datawig
import inflection

from sklearn.metrics import f1_score, classification_report

# Dataset Overview

## Reading Dataset

In [3]:
path = 'https://raw.githubusercontent.com/adhang/datasets/main/spaceship-titanic-train.csv'

data = pd.read_csv(path)
data.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

## Duplicated Values

In [4]:
data.duplicated().sum()

0

## Rename Column Names

In [5]:
# renaming the column
column_list = list(data.columns)

for i, col in enumerate(column_list):
  column_list[i] = inflection.underscore(column_list[i]).replace(' ', '_')

data.columns = column_list
data.head()

,passenger_id,home_planet,cryo_sleep,cabin,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

## Data Types

### Numeric

In [6]:
data.select_dtypes(include=np.number)

       age  room_service  food_court  shopping_mall     spa  vr_deck
0     39.0           0.0         0.0            0.0     0.0      0.0
1     24.0         109.0         9.0           25.0   549.0     44.0
2     58.0          43.0      3576.0            0.0  6715.0     49.0
3     33.0           0.0      1283.0          371.0  3329.0    193.0
4     16.0         303.0        70.0          151.0   565.0      2.0
...    ...           ...         ...            ...     ...      ...
8688  41.0           0.0      6819.0            0.0  1643.0     74.0
8689  18.0           0.0         0.0            0.0     0.0      0.0
8690  26.0           0.0         0.0         1872.0     1.0      0.0
8691  32.0           0.0      1049.0            0.0   353.0   3235.0
8692  44.0         126.0      4688.0            0.0     0.0     12.0

[8693 rows x 6 columns]

In [7]:
column_numerical = data.select_dtypes(include=np.number).columns.values.tolist()
column_numerical

['age', 'room_service', 'food_court', 'shopping_mall', 'spa', 'vr_deck']

### Categorical

In [8]:
data.select_dtypes(exclude=np.number)

,passenger_id,home_planet,cryo_sleep,cabin,destination,vip,name,transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,False,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,False,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,True,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,False,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,False,Willy Santantines,True
...,...,...,...,...,...,...,...,...
8688,9276_01,Europa,False,A/98/P,55 Cancri e,True,Gravior Noxnuther,False
8689,9278_01,Earth,True,G/1499/S,PSO J318.5-22,False,Kurta Mondalley,False
8690,9279_01,Earth,False,G/1500/S,TRAPPIST-1e,False,Fayey Connon,True
8691,9280_01,Europa,False,E/608/S,55 Cancri e,False,Celeon Hontichre,False
8692,9280_02,Europa,False,E/608/S,TRAPPIST-1e,False,Propsh Hontichre,True

In [9]:
column_categorical = data.select_dtypes(exclude=np.number).columns.values.tolist()
column_categorical

['passenger_id',
 'home_planet',
 'cryo_sleep',
 'cabin',
 'destination',
 'vip',
 'name',
 'transported']

### Convert Bool to String

In [10]:
bool_col = ['cryo_sleep', 'vip', 'transported']
data.loc[:, bool_col] = data.loc[:, bool_col].replace({True:'TRUE', False:'FALSE'})

data.head()

,passenger_id,home_planet,cryo_sleep,cabin,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,name,transported
0,0001_01,Europa,FALSE,B/0/P,TRAPPIST-1e,39.0,FALSE,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,FALSE
1,0002_01,Earth,FALSE,F/0/S,TRAPPIST-1e,24.0,FALSE,109.0,9.0,25.0,549.0,44.0,Juanna Vines,TRUE
2,0003_01,Europa,FALSE,A/0/S,TRAPPIST-1e,58.0,TRUE,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,FALSE
3,0003_02,Europa,FALSE,A/0/S,TRAPPIST-1e,33.0,FALSE,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,FALSE
4,0004_01,Earth,FALSE,F/1/S,TRAPPIST-1e,16.0,FALSE,303.0,70.0,151.0,565.0,2.0,Willy Santantines,TRUE

## Missing Values

In [11]:
# total null values
data_null_total = pd.DataFrame(data.isna().sum()).T.rename({0:'total null'})

# percentage of null values
data_null_percentage = pd.DataFrame(100*data.isna().sum()/data.shape[0]).T.rename({0:'percentage null'})

data_null = pd.concat([data_null_total, data_null_percentage], axis=0).T
data_null.style.background_gradient()

2022-05-03 10:02:40,290 [INFO]  NumExpr defaulting to 2 threads.

# Feature Extraction

## Passenger ID

In [12]:
data_id = data['passenger_id'].str.split('_', expand=True)
data_id = data_id.rename(columns={0:'passenger_group', 1:'passenger_num'})

data_id

     passenger_group passenger_num
0               0001            01
1               0002            01
2               0003            01
3               0003            02
4               0004            01
...              ...           ...
8688            9276            01
8689            9278            01
8690            9279            01
8691            9280            01
8692            9280            02

[8693 rows x 2 columns]

## Cabin

In [13]:
data_cabin = data['cabin'].str.split('/', expand=True)
data_cabin = data_cabin.rename(columns={0:'cabin_deck', 1:'cabin_num', 2:'cabin_side'})

data_cabin

     cabin_deck cabin_num cabin_side
0             B         0          P
1             F         0          S
2             A         0          S
3             A         0          S
4             F         1          S
...         ...       ...        ...
8688          A        98          P
8689          G      1499          S
8690          G      1500          S
8691          E       608          S
8692          E       608          S

[8693 rows x 3 columns]

## Total Luxury Amenities

In [199]:
data_bill = data['room_service'] + data['food_court'] + data['shopping_mall'] + data['spa'] + data['vr_deck']
data_bill = pd.DataFrame(data_bill)
data_bill = data_bill.rename(columns={0:'total_bill'})

data_bill

      total_bill
0            0.0
1          736.0
2        10383.0
3         5176.0
4         1091.0
...          ...
8688      8536.0
8689         0.0
8690      1873.0
8691      4637.0
8692      4826.0

[8693 rows x 1 columns]

## Updated Dataframe

In [200]:
data_update = pd.concat([data, data_id, data_cabin, data_bill], axis=1)

data_update.drop(columns=['passenger_id', 'cabin', 'name'], inplace=True)
data_update.head()

,home_planet,cryo_sleep,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,transported,passenger_group,passenger_num,cabin_deck,cabin_num,cabin_side,total_bill
0,Europa,FALSE,TRAPPIST-1e,39.0,FALSE,0.0,0.0,0.0,0.0,0.0,FALSE,0001,01,B,0,P,0.0
1,Earth,FALSE,TRAPPIST-1e,24.0,FALSE,109.0,9.0,25.0,549.0,44.0,TRUE,0002,01,F,0,S,736.0
2,Europa,FALSE,TRAPPIST-1e,58.0,TRUE,43.0,3576.0,0.0,6715.0,49.0,FALSE,0003,01,A,0,S,10383.0
3,Europa,FALSE,TRAPPIST-1e,33.0,FALSE,0.0,1283.0,371.0,3329.0,193.0,FALSE,0003,02,A,0,S,5176.0
4,Earth,FALSE,TRAPPIST-1e,16.0,FALSE,303.0,70.0,151.0,565.0,2.0,TRUE,0004,01,F,1,S,1091.0

# Impute by Knowledge
Some of this approaches are inspired by Vincent Debout's comment on the [Kaggle discussion page](https://www.kaggle.com/competitions/spaceship-titanic/discussion/315987)

## Luxury Amenities

### Cryo Sleep

In [201]:
mask = data_update['cryo_sleep'] == 'TRUE'

In [202]:
data_update.loc[mask, 'room_service'].value_counts()

0.0    2969
Name: room_service, dtype: int64

In [203]:
data_update.loc[mask, 'food_court'].value_counts()

0.0    2967
Name: food_court, dtype: int64

In [204]:
data_update.loc[mask, 'shopping_mall'].value_counts()

0.0    2941
Name: shopping_mall, dtype: int64

In [205]:
data_update.loc[mask, 'spa'].value_counts()

0.0    2972
Name: spa, dtype: int64

In [206]:
data_update.loc[mask, 'vr_deck'].value_counts()

0.0    2975
Name: vr_deck, dtype: int64

In [207]:
data_update.loc[mask, 'total_bill'].value_counts()

0.0    2690
Name: total_bill, dtype: int64

As we can see, passengers who enter cryosleep do not have luxurious facilities. So, I will impute the null values with `0` for all passengers entering cryosleep.

In [208]:
mask = data_update['cryo_sleep'] == 'TRUE'
column_luxury = ['room_service', 'food_court', 'shopping_mall', 'spa', 'vr_deck', 'total_bill']

data_update.loc[mask, column_luxury] = data_update.loc[mask, column_luxury].fillna(0)

In [209]:
data_update.isna().sum()

home_planet        201
cryo_sleep         217
destination        182
age                179
vip                203
room_service       113
food_court         113
shopping_mall      112
spa                118
vr_deck            126
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side         199
total_bill         561
dtype: int64

Now, we have reduced some missing values on the luxury amenities features

### Children

In [210]:
mask = data_update['age'] <= 12

data_update.loc[mask, 'total_bill'].value_counts()

0.0    763
Name: total_bill, dtype: int64

As we can see, children doesn't have any bill. So, I will impute it with `0`

In [211]:
mask = data_update['age'] <= 12
column_luxury = ['room_service', 'food_court', 'shopping_mall', 'spa', 'vr_deck', 'total_bill']

data_update.loc[mask, column_luxury] = data_update.loc[mask, column_luxury].fillna(0)

In [212]:
data_update.isna().sum()

home_planet        201
cryo_sleep         217
destination        182
age                179
vip                203
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side         199
total_bill         518
dtype: int64

It still has some missing values, but it has reduced

## Destination

In [213]:
mask = (data_update['age'] > 12) & (data_update['cryo_sleep'] == 'FALSE') & (data_update['total_bill'] == 0)

data_update.loc[mask, 'destination'].value_counts()

TRAPPIST-1e    92
Name: destination, dtype: int64

In [214]:
mask = (data_update['age'] > 12) & (data_update['cryo_sleep'] == 'FALSE') & (data_update['total_bill'] == 0)

data_update.loc[mask, 'destination'] = data_update.loc[mask, 'destination'].fillna('TRAPPIST-1e')

Passengers who are not children, not in cryosleep, and have no bill will have `TRAPPIST-1e` as their destination

## VIP

### Earth

In [215]:
mask = data_update['home_planet'] == 'Earth'

data_update.loc[mask, 'vip'].value_counts()

FALSE    4487
Name: vip, dtype: int64

In [216]:
mask = data_update['home_planet'] == 'Earth'

data_update.loc[mask, 'vip'] = data_update.loc[mask, 'vip'].fillna('FALSE')

In [217]:
data_update.isna().sum()

home_planet        201
cryo_sleep         217
destination        180
age                179
vip                 88
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side         199
total_bill         518
dtype: int64

### Mars

In [218]:
mask = (data_update['home_planet'] == 'Mars') & (data_update['age'] >= 18) & (data_update['cryo_sleep'] == 'FALSE') & (data_update['destination'] == '55 Cancri e')

data_update.loc[mask, 'vip'].value_counts()

FALSE    88
Name: vip, dtype: int64

In [219]:
mask = (data_update['home_planet'] == 'Mars') & (data_update['age'] >= 18) & (data_update['cryo_sleep'] == 'FALSE') & (data_update['destination'] == '55 Cancri e')

data_update.loc[mask, 'vip'] = data_update.loc[mask, 'vip'].fillna('FALSE')

In [220]:
data_update.isna().sum()

home_planet        201
cryo_sleep         217
destination        180
age                179
vip                 87
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side         199
total_bill         518
dtype: int64

## Home Planet
People in the same group have the same home planet

In [221]:
tmp = data_update.groupby('passenger_group')

data_update['home_planet'] = tmp['home_planet'].transform(lambda s: np.nan if pd.isnull(s).all() == True
                                                          else s.loc[s.first_valid_index()])

In [222]:
data_update.isna().sum()

home_planet        111
cryo_sleep         217
destination        180
age                179
vip                 87
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side         199
total_bill         518
dtype: int64

## Cabin Deck

In [223]:
mask = data_update['cabin_deck'] == 'T'

data_update.loc[mask]

,home_planet,cryo_sleep,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,transported,passenger_group,passenger_num,cabin_deck,cabin_num,cabin_side,total_bill
1004,NaN,FALSE,TRAPPIST-1e,35.0,FALSE,415.0,1328.0,0.0,14.0,60.0,FALSE,1071,01,T,0,P,1817.0
2254,Europa,FALSE,TRAPPIST-1e,42.0,FALSE,0.0,1829.0,2.0,3133.0,2447.0,FALSE,2414,01,T,1,P,7411.0
2734,Europa,FALSE,TRAPPIST-1e,33.0,FALSE,0.0,28.0,0.0,6841.0,543.0,FALSE,2935,01,T,2,P,7412.0
2763,Europa,FALSE,TRAPPIST-1e,38.0,FALSE,0.0,3135.0,0.0,26.0,3.0,TRUE,2971,01,T,3,P,3164.0
4565,Europa,NaN,TRAPPIST-1e,37.0,FALSE,1721.0,667.0,NaN,28.0,1362.0,FALSE,4863,01,T,2,S,NaN

The `T` cabin deck only has 5 rows. Could it be the ship crew?
<br><br>
I think so, because most of their home planet is `Europa` and they are not in cryosleep. And the other cabin has ordered name, starting from `A` to `G`.

In [224]:
mask = data_update['cabin_deck'] == 'T'

data_update.loc[mask, 'home_planet'] = data_update.loc[mask, 'home_planet'].fillna('Europa')
data_update.loc[mask, 'cryo_sleep'] = data_update.loc[mask, 'cryo_sleep'].fillna('FALSE')

In [225]:
data_update.isna().sum()

home_planet        110
cryo_sleep         216
destination        180
age                179
vip                 87
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side         199
total_bill         518
dtype: int64

## Cabin Side
People in the same group have the same cabin side

In [239]:
tmp = data_update.groupby('passenger_group')

data_update['cabin_side'] = tmp['cabin_side'].transform(lambda s: np.nan if pd.isnull(s).all() == True
                                                        else s.loc[s.first_valid_index()])

In [240]:
data_update.isna().sum()

home_planet        110
cryo_sleep         216
destination        180
age                179
vip                 87
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side          99
total_bill         518
dtype: int64

# Impute Using  DataWig

## Train - Test Selection
- Train - contains no null values
- Test - contain all null values

In [241]:
data_train = data_update.dropna().copy()
data_test = data_update[data_update.isna().any(axis=1)].copy()

## Train - Test Split
It's used to train and evaluate the DataWig performance. So, it's based on the `data_train` (which contains no null values)

In [242]:
df_train, df_test = datawig.utils.random_split(data_train, split_ratios=[0.8, 0.2])

## DataWig Imputation

In [243]:
data_update.isna().sum()

home_planet        110
cryo_sleep         216
destination        180
age                179
vip                 87
room_service       107
food_court         106
shopping_mall      103
spa                114
vr_deck            107
transported          0
passenger_group      0
passenger_num        0
cabin_deck         199
cabin_num          199
cabin_side          99
total_bill         518
dtype: int64

There are 3 columns that do not have a null value

In [244]:
column_list = data_test.drop(columns=['transported', 'passenger_group', 'passenger_num']).columns.tolist()
column_list

['home_planet',
 'cryo_sleep',
 'destination',
 'age',
 'vip',
 'room_service',
 'food_court',
 'shopping_mall',
 'spa',
 'vr_deck',
 'cabin_deck',
 'cabin_num',
 'cabin_side',
 'total_bill']

In [245]:
for col in column_list:
  print('=========================')
  print('=========================')
  print('Imputation for', col)

  drive = '/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/'
  path = drive + f'imputed_{col}'

  # create a single imputer for specific column
  imputer = datawig.SimpleImputer(
      input_columns = df_train.drop(columns=[col]).columns.tolist(),
      output_column = col,
      output_path = path
  )

  # fit the imputer model
  imputer.fit(data_train)

  # make predictions on missing values
  predictions = imputer.predict(data_test)

  # impute the missing values
  mask = data_test[col].isna()

  imputed_col = f'{col}_imputed'
  data_test.loc[mask, col] = predictions.loc[mask, imputed_col]

=========================
=========================
Imputation for home_planet

2022-05-03 12:46:44,781 [INFO]
========== start: fit model
2022-05-03 12:46:44,788 [WARNING]  Already bound, ignoring bind()
2022-05-03 12:46:48,753 [INFO]  Epoch[0] Batch [0-205]	Speed: 834.50 samples/sec	cross-entropy=0.667613	home_planet-accuracy=0.709648
2022-05-03 12:46:52,644 [INFO]  Epoch[0] Train-cross-entropy=0.582690
2022-05-03 12:46:52,647 [INFO]  Epoch[0] Train-home_planet-accuracy=0.756555
2022-05-03 12:46:52,653 [INFO]  Epoch[0] Time cost=7.852
2022-05-03 12:46:52,675 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0000.params"
2022-05-03 12:46:53,402 [INFO]  Epoch[0] Validation-cross-entropy=0.443722
2022-05-03 12:46:53,408 [INFO]  Epoch[0] Validation-home_planet-accuracy=0.809783
2022-05-03 12:46:57,365 [INFO]  Epoch[1] Batch [0-205]	Speed: 833.77 samples/sec	cross-entropy=0.410625	home_planet-accuracy=0.853155
2022-05-03 12:47:01,308 [INFO]  Epoch[1] Train-cross-entropy=0.386081
2022-05-03 12:47:01,314 [INFO]  Epoch[1] Train-home_planet-accuracy=0.867226
2022-05-03 12:47:01,319 [INFO]  Epoch[1] Time cost=7.910
2022-05-03 12:47:01,338 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0001.params"
2022-05-03 12:47:02,060 [INFO]  Epoch[1] Validation-cross-entropy=0.349196
2022-05-03 12:47:02,062 [INFO]  Epoch[1] Validation-home_planet-accuracy=0.880435
2022-05-03 12:47:06,006 [INFO]  Epoch[2] Batch [0-205]	Speed: 837.14 samples/sec	cross-entropy=0.316314	home_planet-accuracy=0.899272
2022-05-03 12:47:09,932 [INFO]  Epoch[2] Train-cross-entropy=0.302233
2022-05-03 12:47:09,939 [INFO]  Epoch[2] Train-home_planet-accuracy=0.904421
2022-05-03 12:47:09,945 [INFO]  Epoch[2] Time cost=7.878
2022-05-03 12:47:09,965 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0002.params"
2022-05-03 12:47:10,694 [INFO]  Epoch[2] Validation-cross-entropy=0.291017
2022-05-03 12:47:10,700 [INFO]  Epoch[2] Validation-home_planet-accuracy=0.892663
2022-05-03 12:47:14,667 [INFO]  Epoch[3] Batch [0-205]	Speed: 831.67 samples/sec	cross-entropy=0.257489	home_planet-accuracy=0.919903
2022-05-03 12:47:18,587 [INFO]  Epoch[3] Train-cross-entropy=0.249257
2022-05-03 12:47:18,592 [INFO]  Epoch[3] Train-home_planet-accuracy=0.923780
2022-05-03 12:47:18,594 [INFO]  Epoch[3] Time cost=7.891
2022-05-03 12:47:18,613 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0003.params"
2022-05-03 12:47:19,341 [INFO]  Epoch[3] Validation-cross-entropy=0.253727
2022-05-03 12:47:19,343 [INFO]  Epoch[3] Validation-home_planet-accuracy=0.911685
2022-05-03 12:47:23,250 [INFO]  Epoch[4] Batch [0-205]	Speed: 844.99 samples/sec	cross-entropy=0.218011	home_planet-accuracy=0.934466
2022-05-03 12:47:27,171 [INFO]  Epoch[4] Train-cross-entropy=0.212932
2022-05-03 12:47:27,175 [INFO]  Epoch[4] Train-home_planet-accuracy=0.934299
2022-05-03 12:47:27,179 [INFO]  Epoch[4] Time cost=7.832
2022-05-03 12:47:27,200 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0004.params"
2022-05-03 12:47:27,926 [INFO]  Epoch[4] Validation-cross-entropy=0.228098
2022-05-03 12:47:27,929 [INFO]  Epoch[4] Validation-home_planet-accuracy=0.918478
2022-05-03 12:47:31,859 [INFO]  Epoch[5] Batch [0-205]	Speed: 840.11 samples/sec	cross-entropy=0.190331	home_planet-accuracy=0.942051
2022-05-03 12:47:35,746 [INFO]  Epoch[5] Train-cross-entropy=0.186909
2022-05-03 12:47:35,752 [INFO]  Epoch[5] Train-home_planet-accuracy=0.941921
2022-05-03 12:47:35,755 [INFO]  Epoch[5] Time cost=7.822
2022-05-03 12:47:35,777 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0005.params"
2022-05-03 12:47:36,496 [INFO]  Epoch[5] Validation-cross-entropy=0.210112
2022-05-03 12:47:36,498 [INFO]  Epoch[5] Validation-home_planet-accuracy=0.926630
2022-05-03 12:47:40,472 [INFO]  Epoch[6] Batch [0-205]	Speed: 830.85 samples/sec	cross-entropy=0.170304	home_planet-accuracy=0.944478
2022-05-03 12:47:44,392 [INFO]  Epoch[6] Train-cross-entropy=0.167785
2022-05-03 12:47:44,394 [INFO]  Epoch[6] Train-home_planet-accuracy=0.945884
2022-05-03 12:47:44,402 [INFO]  Epoch[6] Time cost=7.900
2022-05-03 12:47:44,419 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0006.params"
2022-05-03 12:47:45,143 [INFO]  Epoch[6] Validation-cross-entropy=0.196195
2022-05-03 12:47:45,145 [INFO]  Epoch[6] Validation-home_planet-accuracy=0.925272
2022-05-03 12:47:49,104 [INFO]  Epoch[7] Batch [0-205]	Speed: 833.91 samples/sec	cross-entropy=0.154935	home_planet-accuracy=0.947512
2022-05-03 12:47:53,022 [INFO]  Epoch[7] Train-cross-entropy=0.152918
2022-05-03 12:47:53,027 [INFO]  Epoch[7] Train-home_planet-accuracy=0.949390
2022-05-03 12:47:53,032 [INFO]  Epoch[7] Time cost=7.884
2022-05-03 12:47:53,056 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0007.params"
2022-05-03 12:47:53,776 [INFO]  Epoch[7] Validation-cross-entropy=0.185439
2022-05-03 12:47:53,779 [INFO]  Epoch[7] Validation-home_planet-accuracy=0.923913
2022-05-03 12:47:57,742 [INFO]  Epoch[8] Batch [0-205]	Speed: 833.32 samples/sec	cross-entropy=0.142961	home_planet-accuracy=0.950850
2022-05-03 12:48:01,754 [INFO]  Epoch[8] Train-cross-entropy=0.141128
2022-05-03 12:48:01,757 [INFO]  Epoch[8] Train-home_planet-accuracy=0.952744
2022-05-03 12:48:01,760 [INFO]  Epoch[8] Time cost=7.976
2022-05-03 12:48:01,781 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0008.params"
2022-05-03 12:48:02,529 [INFO]  Epoch[8] Validation-cross-entropy=0.177479
2022-05-03 12:48:02,535 [INFO]  Epoch[8] Validation-home_planet-accuracy=0.927989
2022-05-03 12:48:06,452 [INFO]  Epoch[9] Batch [0-205]	Speed: 842.34 samples/sec	cross-entropy=0.133054	home_planet-accuracy=0.954187
2022-05-03 12:48:10,403 [INFO]  Epoch[9] Train-cross-entropy=0.131332
2022-05-03 12:48:10,405 [INFO]  Epoch[9] Train-home_planet-accuracy=0.955488
2022-05-03 12:48:10,410 [INFO]  Epoch[9] Time cost=7.872
2022-05-03 12:48:10,454 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0009.params"
2022-05-03 12:48:11,185 [INFO]  Epoch[9] Validation-cross-entropy=0.170216
2022-05-03 12:48:11,188 [INFO]  Epoch[9] Validation-home_planet-accuracy=0.927989
2022-05-03 12:48:15,135 [INFO]  Epoch[10] Batch [0-205]	Speed: 836.88 samples/sec	cross-entropy=0.124754	home_planet-accuracy=0.958434
2022-05-03 12:48:19,043 [INFO]  Epoch[10] Train-cross-entropy=0.123122
2022-05-03 12:48:19,049 [INFO]  Epoch[10] Train-home_planet-accuracy=0.958689
2022-05-03 12:48:19,055 [INFO]  Epoch[10] Time cost=7.863
2022-05-03 12:48:19,074 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0010.params"
2022-05-03 12:48:19,787 [INFO]  Epoch[10] Validation-cross-entropy=0.164496
2022-05-03 12:48:19,790 [INFO]  Epoch[10] Validation-home_planet-accuracy=0.929348
2022-05-03 12:48:23,729 [INFO]  Epoch[11] Batch [0-205]	Speed: 838.07 samples/sec	cross-entropy=0.117692	home_planet-accuracy=0.960862
2022-05-03 12:48:27,626 [INFO]  Epoch[11] Train-cross-entropy=0.115967
2022-05-03 12:48:27,629 [INFO]  Epoch[11] Train-home_planet-accuracy=0.961433
2022-05-03 12:48:27,632 [INFO]  Epoch[11] Time cost=7.839
2022-05-03 12:48:27,654 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0011.params"
2022-05-03 12:48:28,381 [INFO]  Epoch[11] Validation-cross-entropy=0.160202
2022-05-03 12:48:28,383 [INFO]  Epoch[11] Validation-home_planet-accuracy=0.929348
2022-05-03 12:48:32,343 [INFO]  Epoch[12] Batch [0-205]	Speed: 833.30 samples/sec	cross-entropy=0.111366	home_planet-accuracy=0.963592
2022-05-03 12:48:36,218 [INFO]  Epoch[12] Train-cross-entropy=0.109664
2022-05-03 12:48:36,221 [INFO]  Epoch[12] Train-home_planet-accuracy=0.964787
2022-05-03 12:48:36,223 [INFO]  Epoch[12] Time cost=7.838
2022-05-03 12:48:36,243 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0012.params"
2022-05-03 12:48:36,967 [INFO]  Epoch[12] Validation-cross-entropy=0.156121
2022-05-03 12:48:36,969 [INFO]  Epoch[12] Validation-home_planet-accuracy=0.929348
2022-05-03 12:48:40,956 [INFO]  Epoch[13] Batch [0-205]	Speed: 828.04 samples/sec	cross-entropy=0.105694	home_planet-accuracy=0.963896
2022-05-03 12:48:44,870 [INFO]  Epoch[13] Train-cross-entropy=0.104072
2022-05-03 12:48:44,873 [INFO]  Epoch[13] Train-home_planet-accuracy=0.966311
2022-05-03 12:48:44,879 [INFO]  Epoch[13] Time cost=7.907
2022-05-03 12:48:44,899 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0013.params"
2022-05-03 12:48:45,617 [INFO]  Epoch[13] Validation-cross-entropy=0.151938
2022-05-03 12:48:45,620 [INFO]  Epoch[13] Validation-home_planet-accuracy=0.930707
2022-05-03 12:48:49,574 [INFO]  Epoch[14] Batch [0-205]	Speed: 834.74 samples/sec	cross-entropy=0.100657	home_planet-accuracy=0.966930
2022-05-03 12:48:53,507 [INFO]  Epoch[14] Train-cross-entropy=0.099100
2022-05-03 12:48:53,511 [INFO]  Epoch[14] Train-home_planet-accuracy=0.968140
2022-05-03 12:48:53,515 [INFO]  Epoch[14] Time cost=7.891
2022-05-03 12:48:53,541 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0014.params"
2022-05-03 12:48:54,259 [INFO]  Epoch[14] Validation-cross-entropy=0.148784
2022-05-03 12:48:54,265 [INFO]  Epoch[14] Validation-home_planet-accuracy=0.932065
2022-05-03 12:48:58,236 [INFO]  Epoch[15] Batch [0-205]	Speed: 830.85 samples/sec	cross-entropy=0.096231	home_planet-accuracy=0.967233
2022-05-03 12:49:02,139 [INFO]  Epoch[15] Train-cross-entropy=0.094563
2022-05-03 12:49:02,142 [INFO]  Epoch[15] Train-home_planet-accuracy=0.969207
2022-05-03 12:49:02,150 [INFO]  Epoch[15] Time cost=7.883
2022-05-03 12:49:02,171 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0015.params"
2022-05-03 12:49:02,900 [INFO]  Epoch[15] Validation-cross-entropy=0.146762
2022-05-03 12:49:02,905 [INFO]  Epoch[15] Validation-home_planet-accuracy=0.932065
2022-05-03 12:49:06,848 [INFO]  Epoch[16] Batch [0-205]	Speed: 837.27 samples/sec	cross-entropy=0.092466	home_planet-accuracy=0.971481
2022-05-03 12:49:10,786 [INFO]  Epoch[16] Train-cross-entropy=0.090753
2022-05-03 12:49:10,789 [INFO]  Epoch[16] Train-home_planet-accuracy=0.971799
2022-05-03 12:49:10,791 [INFO]  Epoch[16] Time cost=7.881
2022-05-03 12:49:10,812 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0016.params"
2022-05-03 12:49:11,545 [INFO]  Epoch[16] Validation-cross-entropy=0.142555
2022-05-03 12:49:11,549 [INFO]  Epoch[16] Validation-home_planet-accuracy=0.934783
2022-05-03 12:49:15,559 [INFO]  Epoch[17] Batch [0-205]	Speed: 823.14 samples/sec	cross-entropy=0.088328	home_planet-accuracy=0.971784
2022-05-03 12:49:19,480 [INFO]  Epoch[17] Train-cross-entropy=0.086665
2022-05-03 12:49:19,483 [INFO]  Epoch[17] Train-home_planet-accuracy=0.973323
2022-05-03 12:49:19,486 [INFO]  Epoch[17] Time cost=7.933
2022-05-03 12:49:19,524 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0017.params"
2022-05-03 12:49:20,239 [INFO]  Epoch[17] Validation-cross-entropy=0.141774
2022-05-03 12:49:20,245 [INFO]  Epoch[17] Validation-home_planet-accuracy=0.933424
2022-05-03 12:49:24,206 [INFO]  Epoch[18] Batch [0-205]	Speed: 833.41 samples/sec	cross-entropy=0.084742	home_planet-accuracy=0.973604
2022-05-03 12:49:28,099 [INFO]  Epoch[18] Train-cross-entropy=0.083074
2022-05-03 12:49:28,101 [INFO]  Epoch[18] Train-home_planet-accuracy=0.975000
2022-05-03 12:49:28,106 [INFO]  Epoch[18] Time cost=7.857
2022-05-03 12:49:28,129 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0018.params"
2022-05-03 12:49:28,856 [INFO]  Epoch[18] Validation-cross-entropy=0.141615
2022-05-03 12:49:28,861 [INFO]  Epoch[18] Validation-home_planet-accuracy=0.933424
2022-05-03 12:49:32,819 [INFO]  Epoch[19] Batch [0-205]	Speed: 833.82 samples/sec	cross-entropy=0.081284	home_planet-accuracy=0.974818
2022-05-03 12:49:36,703 [INFO]  Epoch[19] Train-cross-entropy=0.079811
2022-05-03 12:49:36,706 [INFO]  Epoch[19] Train-home_planet-accuracy=0.975610
2022-05-03 12:49:36,708 [INFO]  Epoch[19] Time cost=7.844
2022-05-03 12:49:36,728 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0019.params"
2022-05-03 12:49:37,453 [INFO]  Epoch[19] Validation-cross-entropy=0.139735
2022-05-03 12:49:37,456 [INFO]  Epoch[19] Validation-home_planet-accuracy=0.932065
2022-05-03 12:49:41,434 [INFO]  Epoch[20] Batch [0-205]	Speed: 830.67 samples/sec	cross-entropy=0.078699	home_planet-accuracy=0.976032
2022-05-03 12:49:45,362 [INFO]  Epoch[20] Train-cross-entropy=0.076968
2022-05-03 12:49:45,370 [INFO]  Epoch[20] Train-home_planet-accuracy=0.976829
2022-05-03 12:49:45,373 [INFO]  Epoch[20] Time cost=7.915
2022-05-03 12:49:45,393 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0020.params"
2022-05-03 12:49:46,113 [INFO]  Epoch[20] Validation-cross-entropy=0.139699
2022-05-03 12:49:46,116 [INFO]  Epoch[20] Validation-home_planet-accuracy=0.934783
2022-05-03 12:49:50,043 [INFO]  Epoch[21] Batch [0-205]	Speed: 841.52 samples/sec	cross-entropy=0.075721	home_planet-accuracy=0.977245
2022-05-03 12:49:53,971 [INFO]  Epoch[21] Train-cross-entropy=0.074092
2022-05-03 12:49:53,976 [INFO]  Epoch[21] Train-home_planet-accuracy=0.978354
2022-05-03 12:49:53,982 [INFO]  Epoch[21] Time cost=7.864
2022-05-03 12:49:54,005 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0021.params"
2022-05-03 12:49:54,723 [INFO]  Epoch[21] Validation-cross-entropy=0.139407
2022-05-03 12:49:54,728 [INFO]  Epoch[21] Validation-home_planet-accuracy=0.933424
2022-05-03 12:49:58,700 [INFO]  Epoch[22] Batch [0-205]	Speed: 831.30 samples/sec	cross-entropy=0.073344	home_planet-accuracy=0.978155
2022-05-03 12:50:02,624 [INFO]  Epoch[22] Train-cross-entropy=0.071696
2022-05-03 12:50:02,628 [INFO]  Epoch[22] Train-home_planet-accuracy=0.979421
2022-05-03 12:50:02,631 [INFO]  Epoch[22] Time cost=7.896
2022-05-03 12:50:02,651 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0022.params"
2022-05-03 12:50:03,379 [INFO]  Epoch[22] Validation-cross-entropy=0.138302
2022-05-03 12:50:03,384 [INFO]  Epoch[22] Validation-home_planet-accuracy=0.936141
2022-05-03 12:50:07,326 [INFO]  Epoch[23] Batch [0-205]	Speed: 837.29 samples/sec	cross-entropy=0.070801	home_planet-accuracy=0.978459
2022-05-03 12:50:11,264 [INFO]  Epoch[23] Train-cross-entropy=0.069158
2022-05-03 12:50:11,268 [INFO]  Epoch[23] Train-home_planet-accuracy=0.979726
2022-05-03 12:50:11,271 [INFO]  Epoch[23] Time cost=7.883
2022-05-03 12:50:11,293 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0023.params"
2022-05-03 12:50:12,030 [INFO]  Epoch[23] Validation-cross-entropy=0.138245
2022-05-03 12:50:12,032 [INFO]  Epoch[23] Validation-home_planet-accuracy=0.934783
2022-05-03 12:50:16,070 [INFO]  Epoch[24] Batch [0-205]	Speed: 818.29 samples/sec	cross-entropy=0.068835	home_planet-accuracy=0.979066
2022-05-03 12:50:19,992 [INFO]  Epoch[24] Train-cross-entropy=0.066938
2022-05-03 12:50:19,994 [INFO]  Epoch[24] Train-home_planet-accuracy=0.980335
2022-05-03 12:50:19,999 [INFO]  Epoch[24] Time cost=7.958
2022-05-03 12:50:20,047 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0024.params"
2022-05-03 12:50:20,772 [INFO]  Epoch[24] Validation-cross-entropy=0.139026
2022-05-03 12:50:20,778 [INFO]  Epoch[24] Validation-home_planet-accuracy=0.934783
2022-05-03 12:50:24,751 [INFO]  Epoch[25] Batch [0-205]	Speed: 830.94 samples/sec	cross-entropy=0.066523	home_planet-accuracy=0.979066
2022-05-03 12:50:28,749 [INFO]  Epoch[25] Train-cross-entropy=0.064731
2022-05-03 12:50:28,752 [INFO]  Epoch[25] Train-home_planet-accuracy=0.980488
2022-05-03 12:50:28,757 [INFO]  Epoch[25] Time cost=7.977
2022-05-03 12:50:28,784 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0025.params"
2022-05-03 12:50:29,499 [INFO]  Epoch[25] Validation-cross-entropy=0.137087
2022-05-03 12:50:29,502 [INFO]  Epoch[25] Validation-home_planet-accuracy=0.937500
2022-05-03 12:50:33,497 [INFO]  Epoch[26] Batch [0-205]	Speed: 826.55 samples/sec	cross-entropy=0.064621	home_planet-accuracy=0.980886
2022-05-03 12:50:37,438 [INFO]  Epoch[26] Train-cross-entropy=0.062689
2022-05-03 12:50:37,440 [INFO]  Epoch[26] Train-home_planet-accuracy=0.981402
2022-05-03 12:50:37,443 [INFO]  Epoch[26] Time cost=7.937
2022-05-03 12:50:37,472 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0026.params"
2022-05-03 12:50:38,216 [INFO]  Epoch[26] Validation-cross-entropy=0.137849
2022-05-03 12:50:38,220 [INFO]  Epoch[26] Validation-home_planet-accuracy=0.936141
2022-05-03 12:50:42,197 [INFO]  Epoch[27] Batch [0-205]	Speed: 829.81 samples/sec	cross-entropy=0.062801	home_planet-accuracy=0.981796
2022-05-03 12:50:46,121 [INFO]  Epoch[27] Train-cross-entropy=0.060798
2022-05-03 12:50:46,124 [INFO]  Epoch[27] Train-home_planet-accuracy=0.982470
2022-05-03 12:50:46,127 [INFO]  Epoch[27] Time cost=7.905
2022-05-03 12:50:46,147 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0027.params"
2022-05-03 12:50:46,872 [INFO]  Epoch[27] Validation-cross-entropy=0.136800
2022-05-03 12:50:46,874 [INFO]  Epoch[27] Validation-home_planet-accuracy=0.937500
2022-05-03 12:50:50,820 [INFO]  Epoch[28] Batch [0-205]	Speed: 837.06 samples/sec	cross-entropy=0.060544	home_planet-accuracy=0.983010
2022-05-03 12:50:54,783 [INFO]  Epoch[28] Train-cross-entropy=0.058590
2022-05-03 12:50:54,784 [INFO]  Epoch[28] Train-home_planet-accuracy=0.983537
2022-05-03 12:50:54,792 [INFO]  Epoch[28] Time cost=7.911
2022-05-03 12:50:54,811 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0028.params"
2022-05-03 12:50:55,534 [INFO]  Epoch[28] Validation-cross-entropy=0.136533
2022-05-03 12:50:55,540 [INFO]  Epoch[28] Validation-home_planet-accuracy=0.936141
2022-05-03 12:50:59,509 [INFO]  Epoch[29] Batch [0-205]	Speed: 831.53 samples/sec	cross-entropy=0.058575	home_planet-accuracy=0.984223
2022-05-03 12:51:03,433 [INFO]  Epoch[29] Train-cross-entropy=0.056690
2022-05-03 12:51:03,440 [INFO]  Epoch[29] Train-home_planet-accuracy=0.984909
2022-05-03 12:51:03,443 [INFO]  Epoch[29] Time cost=7.898
2022-05-03 12:51:03,464 [INFO]  Saved checkpoint to "/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/imputed_home_planet/model-0029.params"
2022-05-03 12:51:04,194 [INFO]  Epoch[29] Validation-cross-entropy=0.137791
2022-05-03 12:51:04,196 [INFO]  Epoch[29] Validation-home_planet-accuracy=0.938859
2022-05-03 12:51:08,172 [INFO]  Epoch[30] Batch [0-205]	Speed: 830.33 samples/sec	cross-entropy=0.057043	home_planet-accuracy=0.984223

=========================
=========================
Imputation for cryo_sleep

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)

=========================
=========================
Imputation for destination

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

=========================
=========================
Imputation for age
=========================
=========================
Imputation for vip

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

=========================
=========================
Imputation for room_service

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

=========================
=========================
Imputation for food_court

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

=========================
=========================
Imputation for shopping_mall

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

=========================
=========================
Imputation for spa

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

=========================
=========================
Imputation for vr_deck

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

=========================
=========================
Imputation for cabin_deck

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: divide by zero encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

=========================
=========================
Imputation for cabin_num

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Recall is ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

=========================
=========================
Imputation for cabin_side
=========================
=========================
Imputation for total_bill

/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:92: RuntimeWarning: invalid value encountered in log
  return np.log(probas)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in greater_equal
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)
/usr/local/lib/python3.7/dist-packages/datawig/calibration.py:59: RuntimeWarning: invalid value encountered in less
  bin_mask = (top_probas >= bin_lower) & (top_probas < bin_upper)

In [246]:
data_test.isna().sum()

home_planet        0
cryo_sleep         0
destination        0
age                0
vip                0
room_service       0
food_court         0
shopping_mall      0
spa                0
vr_deck            0
transported        0
passenger_group    0
passenger_num      0
cabin_deck         0
cabin_num          0
cabin_side         0
total_bill         0
dtype: int64

No null values!

## Fix Imputation Result

In [249]:
data_test

,home_planet,cryo_sleep,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,transported,passenger_group,passenger_num,cabin_deck,cabin_num,cabin_side,total_bill
15,Earth,FALSE,TRAPPIST-1e,31.0,FALSE,32.000,0.0,876.000,0.000,0.000,FALSE,0012,01,F,149,P,908.000
16,Mars,FALSE,55 Cancri e,27.0,FALSE,1286.000,122.0,49.899,0.000,0.000,FALSE,0014,01,F,3,P,1298.493
35,Mars,FALSE,TRAPPIST-1e,20.0,FALSE,-908.989,0.0,1750.000,990.000,0.000,TRUE,0031,03,F,9,P,1527.423
47,Mars,TRUE,TRAPPIST-1e,19.0,FALSE,0.000,0.0,0.000,0.000,0.000,TRUE,0045,02,F,10,P,0.000
48,Earth,FALSE,55 Cancri e,35.0,FALSE,790.000,0.0,0.000,497.623,0.000,FALSE,0050,01,E,1,S,1259.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8667,Europa,FALSE,TRAPPIST-1e,29.0,FALSE,0.000,2972.0,-1022.105,28.000,188.000,TRUE,9250,01,E,597,P,2305.546
8674,Earth,FALSE,TRAPPIST-1e,13.0,FALSE,39.000,0.0,1085.000,24.000,0.000,FALSE,9257,01,F,1892,P,1148.000
8675,Earth,FALSE,TRAPPIST-1e,44.0,FALSE,1030.000,1015.0,0.000,11.000,-843.748,TRUE,9259,01,F,1893,P,1159.149
8684,Earth,TRUE,TRAPPIST-1e,23.0,FALSE,0.000,0.0,0.000,0.000,0.000,TRUE,9274,01,G,1508,P,0.000
8687,Europa,FALSE,TRAPPIST-1e,30.0,FALSE,0.000,3208.0,0.000,2.000,330.000,TRUE,9275,03,A,97,P,3540.000

As we can see, there are some 'wrong' imputation, especially on the luxury amenities columns. How can we have negative value? Therefore, I will replace it with 0

In [256]:
data_test_update = data_test.copy()
column_luxury = ['room_service', 'food_court', 'shopping_mall', 'spa', 'vr_deck', 'total_bill']

for col in column_luxury:
  mask = data_test_update[col] < 0

  data_test_update.loc[mask, col] = 0

data_test_update

,home_planet,cryo_sleep,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,transported,passenger_group,passenger_num,cabin_deck,cabin_num,cabin_side,total_bill
15,Earth,FALSE,TRAPPIST-1e,31.0,FALSE,32.0,0.0,876.000,0.000,0.0,FALSE,0012,01,F,149,P,908.000
16,Mars,FALSE,55 Cancri e,27.0,FALSE,1286.0,122.0,49.899,0.000,0.0,FALSE,0014,01,F,3,P,1298.493
35,Mars,FALSE,TRAPPIST-1e,20.0,FALSE,0.0,0.0,1750.000,990.000,0.0,TRUE,0031,03,F,9,P,1527.423
47,Mars,TRUE,TRAPPIST-1e,19.0,FALSE,0.0,0.0,0.000,0.000,0.0,TRUE,0045,02,F,10,P,0.000
48,Earth,FALSE,55 Cancri e,35.0,FALSE,790.0,0.0,0.000,497.623,0.0,FALSE,0050,01,E,1,S,1259.086
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8667,Europa,FALSE,TRAPPIST-1e,29.0,FALSE,0.0,2972.0,0.000,28.000,188.0,TRUE,9250,01,E,597,P,2305.546
8674,Earth,FALSE,TRAPPIST-1e,13.0,FALSE,39.0,0.0,1085.000,24.000,0.0,FALSE,9257,01,F,1892,P,1148.000
8675,Earth,FALSE,TRAPPIST-1e,44.0,FALSE,1030.0,1015.0,0.000,11.000,0.0,TRUE,9259,01,F,1893,P,1159.149
8684,Earth,TRUE,TRAPPIST-1e,23.0,FALSE,0.0,0.0,0.000,0.000,0.0,TRUE,9274,01,G,1508,P,0.000
8687,Europa,FALSE,TRAPPIST-1e,30.0,FALSE,0.0,3208.0,0.000,2.000,330.0,TRUE,9275,03,A,97,P,3540.000

## Imputed Dataframe

In [257]:
data_imputed = pd.concat([data_train, data_test_update], axis=0)

I will add the original cabin column

In [258]:
data_imputed['cabin_update'] = data_imputed['cabin_deck'] + '/' + data_imputed['cabin_num'].astype(int).astype(str) + '/' + data_imputed['cabin_side']

data_imputed.head()

,home_planet,cryo_sleep,destination,age,vip,room_service,food_court,shopping_mall,spa,vr_deck,transported,passenger_group,passenger_num,cabin_deck,cabin_num,cabin_side,total_bill,cabin_update
0,Europa,FALSE,TRAPPIST-1e,39.0,FALSE,0.0,0.0,0.0,0.0,0.0,FALSE,0001,01,B,0,P,0.0,B/0/P
1,Earth,FALSE,TRAPPIST-1e,24.0,FALSE,109.0,9.0,25.0,549.0,44.0,TRUE,0002,01,F,0,S,736.0,F/0/S
2,Europa,FALSE,TRAPPIST-1e,58.0,TRUE,43.0,3576.0,0.0,6715.0,49.0,FALSE,0003,01,A,0,S,10383.0,A/0/S
3,Europa,FALSE,TRAPPIST-1e,33.0,FALSE,0.0,1283.0,371.0,3329.0,193.0,FALSE,0003,02,A,0,S,5176.0,A/0/S
4,Earth,FALSE,TRAPPIST-1e,16.0,FALSE,303.0,70.0,151.0,565.0,2.0,TRUE,0004,01,F,1,S,1091.0,F/1/S

In [259]:
data_imputed['cabin_update'].value_counts()

G/1476/S    23
G/1476/P    18
F/260/S     11
G/1046/S     9
B/201/P      9
            ..
G/298/S      1
D/6/S        1
G/165/P      1
B/105/S      1
B/241/S      1
Name: cabin_update, Length: 6577, dtype: int64

Before I do this approach, I just use a simple imputation (most frequent and median) for the cabin deck, number, and side. The result? I get a cabin that has 300 passengers in it. It doesn't make sense.
<br><br>
Using datawig, the highest number of passengers in a cabin still makes sense (even though it still can be improved)

## Save Clean Dataset

In [261]:
drive = '/content/drive/MyDrive/My Projects/2022/Titanic Spaceship/imputer/'
path = drive + f'train_clean.csv'

data_imputed.sort_index().to_csv(path)